.header {
  margin-top: 50px;
  &-container {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #f4f4f4;
    height:60px;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.4);
    padding: 20px 50px;
  }
  &-form {
    position: relative;
    &>.material-icons {
      position: absolute;
      left: -15%;
      color: grey;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__search {
    outline:none;
    width: 205px;
    height: 25px;
    &::-moz-placeholder { color: #a6a6a6; }
    &::-webkit-input-placeholder { color: #a6a6a6; }
  }
}
.button {
  background: #006fca;
  outline: none;
  border: 1px solid #006fca;
  border-radius: 4px;
  color: white;
  padding: 4px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &--close {
    background: #31d279;
    border: 1px solid #31d279;
  }
}