.calendar {
  margin-top: 50px; }
  .calendar-container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    background-color: white; }

.options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }
  .options__date {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 120px;
    padding: 0 4px; }
  .options__select {
    width: 100%;
    height: 100%;
    padding: 0 8px;
    margin-left: 12px;
    background: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .options__select:focus {
      outline: 0; }
    .options__select:hover {
      cursor: pointer; }
  .options__button {
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    .options__button:focus {
      outline: none; }
    .options__button:hover {
      cursor: pointer; }
    .options__button > .material-icons {
      color: grey;
      font-size: 17px; }

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: inherit;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-padding-start: 0;
  border: 0.5px solid #CCCCCC;
  padding-left: 0.5px;
  padding-bottom: 0.5px; }
  .list__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 141.85px;
    max-width: 100%;
    height: 142px;
    border: 0.5px solid #CCCCCC;
    list-style: none;
    color: #7b7b7b;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0; }
    .list__item-date {
      padding: 10px; }

.alarm-arrow {
  position: absolute;
  display: none;
  top: 28%;
  left: 33%; }
  .alarm-arrow > .material-icons {
    color: red;
    font-size: 45px; }

.add-form {
  position: absolute;
  top: 35%;
  left: 35%;
  border: 2px solid grey;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 390px;
  padding: 20px;
  background: #f4f4f4; }
  .add-form__input {
    background-color: white;
    width: 100%;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #CCCCCC;
    padding: 0;
    outline: 0;
    margin-bottom: 30px; }
  .add-form__select {
    border: 1px solid #CCCCCC;
    outline: none;
    margin-bottom: 20px;
    padding: 5px; }

.header {
  margin-top: 50px; }
  .header-container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    background: #f4f4f4;
    height: 60px;
    -webkit-box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.4);
    padding: 20px 50px; }
  .header-form {
    position: relative; }
    .header-form > .material-icons {
      position: absolute;
      left: -15%;
      color: grey; }
      .header-form > .material-icons:hover {
        cursor: pointer; }
  .header__search {
    outline: none;
    width: 205px;
    height: 25px; }
    .header__search::-moz-placeholder {
      color: #a6a6a6; }
    .header__search::-webkit-input-placeholder {
      color: #a6a6a6; }

.button {
  background: #006fca;
  outline: none;
  border: 1px solid #006fca;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: white;
  padding: 4px; }
  .button:hover {
    cursor: pointer;
    opacity: 0.8; }
  .button--close {
    background: #31d279;
    border: 1px solid #31d279; }
