<form class="add-form">
    <select name="" id="" class="add-form__select">
        <option value="" class="add-form__option">Тип события</option>
        <option value="" class="add-form__option">Работа</option>
        <option value="" class="add-form__option">Семья</option>
        <option value="" class="add-form__option">Хобби</option>
    </select>
    <input class="add-form__input" type="text"
           placeholder="Введите текс"
           name="create">
    <div class="add-form__buttons">
        <input type="submit" class="button button--create"  value="Создать">
        <input type="button" class="button button--close" value="Отмена">
    </div>
</form>