@mixin container() {
  width: 1002px;
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
}
@mixin title() {
  font-family: "Quattrocento Sans Bold";
  font-size: 36px;
  text-transform: uppercase;
}