.calendar {
  margin-top: 50px;
  &-container {
    @include container();
  }
}
.options {
  display: flex;
  margin-bottom: 30px;
  &__date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding: 0 4px;
  }
  &__select {
    width: 100%;
    height: 100%;
    padding: 0 8px;
    margin-left: 12px;
    background: #fff;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:focus {
      outline: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &-form {
    position: relative;
  }
  &__button {
    width: 20px;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
    &>.material-icons {
      color: grey;
      font-size: 17px;
    }
  }
}
.list {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-padding-start: 0;
  border-right: 0.5px solid #CCCCCC;
  border-bottom: 0.5px solid #CCCCCC;
  padding-left: 1px;
  &__item {
    display: flex;
    flex-wrap: wrap;
    width: 141.85px;
    max-width: 100%;
    height: 142px;
    border-left: 0.5px solid #CCCCCC;
    border-top: 0.5px solid #CCCCCC;
    list-style: none;
    color: #7b7b7b;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    &-date {
      padding: 10px;
    }
    &-type {
      padding: 10px 10px 10px 12px;
      color: #e05471;
    }
    &-event {
      word-break: break-all;
      padding: 0 10px 0 10px;
      color: #4facfe;
    }
  }
}
.alarm-arrow {
  position: absolute;
  display: none;
  top:-60%;
  left: 115%;
  &>.material-icons {
    color: red;
    font-size: 45px;
  }
}