<div class="calendar">
    <div class="calendar-container">
        <nav class="options">
            <button class="options__button" id="left">
                <i class="material-icons">keyboard_arrow_left</i>
            </button>
            <div class="options__date">
            </div>
            <button class="options__button" id="right">
                <i class="material-icons">keyboard_arrow_right</i>
            </button>
            <form action="" class="options-form">
                <select class="options__select" name="select" id="">
                    <option>Сегодня</option>
                </select>
            </form>
        </nav>
        <ul class="list"></ul>
    </div>
</div>