<div class="calendar">
    <div class="calendar-container">
        <nav class="options">
            <button class="options__button" id="left">
                <i class="material-icons">keyboard_arrow_left</i>
            </button>
            <div class="options__date">
            </div>
            <button class="options__button" id="right">
                <i class="material-icons">keyboard_arrow_right</i>
            </button>
            <form action="" class="options-form">
                <select class="options__select" name="select" id="">
                    <option class="select__item">
                        Дата
                    </option>
                    <option class="select__item">
                        Сегодня
                    </option>
                </select>
                <div class="alarm-arrow">
                    <i class="material-icons">keyboard_backspace</i>
                </div>
            </form>
        </nav>
        <ul class="list"></ul>
    </div>
</div>